<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.vgecalumni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/vgec_applauncher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vgec_applauncher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
        <activity
            android:name=".WelcomeActivity">

        </activity>
        -->
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:saveEnabled="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Components.Login.Login2Activity"
            android:saveEnabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Components.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".OfflineActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ErrorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Components.SplashScreen.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Components.Temp.reveal"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Components.Magazine.MagazineActivity"
            android:label="Magazines"
            android:theme="@style/AppTheme1"></activity>
        <activity
            android:name=".Components.JobOffers.joboffersmain"
            android:label="Job Offers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.SharingPlatform.sharingmain"
            android:label="Sharing Platform"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.QRCode.Qr_scan_photo"
            android:label="Photo Coupon Scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.QRCode.Qr_scan_food"
            android:label="Food Coupon Scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.Profile.Profile_Edit"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.Profile.Add_Education"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.Profile.Add_Experience"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.Profile.Profile"
            android:theme="@style/ProfileTheme">
        </activity>
        <activity
            android:name=".Components.QRCode.Qr_generate_photo"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Components.QRCode.Qr_generate_food"
            android:theme="@style/AppTheme1" />



    </application>

</manifest> <!-- android:noHistory="true" -->
