.highlights{
	margin-top: 5vh;
}
.row{
	overflow: hidden;margin: 0;
}
.highlights .col-12{
	padding-left: 0px;padding-right: 0;
	margin-top: 1vh;
}
.highlights .item{
	padding-right: 0.5vw;
}
.highlights .col-12{
	max-width: 100vw;
}
.aboutus{
  margin-top: 5vh;
}
.aboutus .col-12{
  padding-left: 0px;padding-right: 0;
  margin-top: 1vh;
}
.aboutus .item{
  padding-right: 0.5vw;
}
.aboutus .col-12{
  max-width: 100vw;
}

.onoffswitch3
{
	width: 99vw;padding-right: 0.5vw;
  -webkit-animation: flicker-5 8s linear infinite both;
          animation: flicker-5 8s linear infinite both;
    padding-top:10px;

    position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border:2px inset #B20000;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    padding-left: 16px;
    background-color: #EEEEEE; color: #B20000;
    text-align: right;
}

.onoffswitch3-switch {
  letter-spacing: 2px;
    display: block; width: 50%; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #B20000; left: 0;
    width: 160px;
}
.onoffswitch3-inactive{
    background: #A1A1A1; right: 0;
    width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.fa-times{
    padding: 2px 0px 0px 0px;
    color: #fff;
    background-color: #000;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.scroll-text{
    color: #B20000;
}
.holder { 
  background-color:#fff;
  width:100%;
  height:250px;
  overflow:hidden;
   
  font-family:Helvetica;
}
/*.holder:hover,.holder2:hover{
  -webkit-box-shadow: 0px 0px 34px -4px rgba(45,48,144,1);
-moz-box-shadow: 0px 0px 34px -4px rgba(45,48,144,1);
box-shadow: 0px 0px 34px -4px rgba(45,48,144,1);
}*/
/* */


.holder2 { 
  background-color:#fff;
  width:100%;
  color: #000;
  height:250px;
  overflow:hidden;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:100%;
  height:90px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}

/*! CSS Used from: https://alumni.columbia.edu/sites/default/files/css/css_2oYI2gsb6BPJN6oiTVpP0vmL1ABkMyZiJNcfOu1f1e0.css?prap1m ; media=all */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.clearfix:before,.clearfix:after,.row:before,.row:after{display:table;content:" ";}
.clearfix:after,.row:after{clear:both;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-home:before{content:"\f015";}
.fa-users:before{content:"\f0c0";}
.fa-suitcase:before{content:"\f0f2";}
.fa-graduation-cap:before{content:"\f19d";}
.fa-binoculars:before{content:"\f1e5";}
.fa-hand-paper-o:before{content:"\f256";}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.field--name-field-cu-card-text{margin-top:2px;}
.field--name-field-cu-card-text p:last-child{margin-bottom:0;}
.paragraph--type--cu-info-card a.card-link{display:block;position:relative;}
.paragraph--type--cu-info-card a.card-link:hover,.paragraph--type--cu-info-card a.card-link:focus{color:#2c6bac;}
.paragraph--type--cu-info-card a.card-link:focus{outline:auto;outline-offset:0;}
.card-icon{color:#595959;font-size:3em;line-height:1em;margin:0 auto 10px;text-align:center;}
.card-with-icon a.card-link{display:block;}
.card-with-icon .field--name-field-cu-card-text{text-align:center;}
p{margin:0 0 20px;}
.paragraph .field--name-field-cu-cards{font-size:16px;}
.paragraph .field--name-field-cu-cards>.field--item{margin:20px -0.4px;}
.paragraph--type--cu-info-card .field--name-field-cu-card-text{text-align:center;}
@media (max-width:767px){
.paragraph--type--cu-info-card{font-size:1em;}
.field--name-field-cu-cards>.field--item{margin:0 -0.3px 20px;}
.field--name-field-cu-card-text{font-size:14px;}
}

@media (min-width:768px){
.card-with-icon a .field--name-field-cu-card-icon{-moz-transition:-moz-transform .2s;-o-transition:-o-transform .2s;-webkit-transition:-webkit-transform .2s;transition:transform .2s;-moz-transform:scale(1,1);-ms-transform:scale(1,1);-webkit-transform:scale(1,1);transform:scale(1,1);}
.card-with-icon a:hover .field--name-field-cu-card-icon,.card-with-icon a:focus .field--name-field-cu-card-icon{-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);transform:scale(1.2,1.2);color:#2c6bac;}
}
}