/* 
Structure : desktop;
header : 25vh
footer : 6vh
section: 75vh;

Structure : mobile;
header : 19vw
footer : 10vw
*/
section{
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background: #d3d3d3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
}

/* homepage */
/* 
Structure : desktop;
header : 20vh
section: 100vh;
  slider:60vh;
  gap : 1vh;
  cards : 30vh;
footer : 6vh;

Structure : mobile;
header : 19vw
footer : 10vw
*/
#homepage {
  text-align: center;
}

/* homepage slider */

.carousel-indicators{
  bottom: 20px;
}

.carousel-item img{
  width: 100%;
  -webkit-animation:kenburns-top 5s ease-out both;animation:kenburns-top 5s ease-out both;
  max-height: 60vh;
  min-height: 60vh;
  height: 60vh;
}
@media only screen and (max-width: 860px) {
  .carousel-item img{
    max-height: 55vh;
  min-height: 55vh;
  height: 55vh;
  }
}

.carousel-caption{
  /*background: rgba(0, 0, 0, 0.4);*/
  padding:10px;
  /*box-shadow: 0 12px 16px 0 rgba(255,255,255,0.5), 0 17px 50px 0 rgba(255,255,255,0.2);*/
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel-item {
    height: 100%;
    width:100%; 
}

.carousel-caption h3 {
  padding-bottom: 10px; 
  color: #fff;
  font-size: 1.75rem;
  mix-blend-mode: lighten;
  text-shadow: 0px 0px 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black;
  -webkit-text-stroke: 1px white;
  letter-spacing: 0.2vw;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}



.text li {
  color: #fff;
  font-size: 1.75rem;
  mix-blend-mode: lighten;
  text-shadow: 0px 0px 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black;
   -webkit-text-stroke: 1px white;
  letter-spacing: 0.2vw;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
@media only screen and (max-width: 860px) {
  .carousel-caption h3 ,.text li {
   font-size: 1.2rem;
  }
}

.text.text-animate-hide li.spaced {
  padding-left: 0;
  animation-delay: 0s;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.text-animate-hide li.ghost {
  opacity: 0;
  max-width: 0;
  animation-delay: 1s;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

/* Animation delays */
.carousel-caption {
    animation-delay: 0s;
}
.carousel-caption h3:first-child {
    animation-delay: 0s;
}
/*.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}*/
.carousel-caption p{
    animation-delay: 0s;
}
.carousel-caption button {
    animation-delay: 1s;
}

.carousel-control-prev , .carousel-control-next {
  opacity: 1;
  color:#c0c0c0;
}
.carousel-control-prev i:hover, .carousel-control-next i:hover {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.7), 0 17px 50px 0 rgba(255,255,255,0.5);
  color:#fff;
}
.carousel-control-prev i, .carousel-control-next i{
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.5), 0 17px 50px 0 rgba(255,255,255,0.2);
  padding:15px;
  font-size: 15px;
  font-weight: 1000;
  border-radius: 50%;
  
}

/* homepage cards */
.cards-layout{
  height: 35vh;
  margin-top: 1vh; 
}

/* homepage line */
.line1{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 85%;
  margin-top: 1vh;
  background-color: #2d3090;
  border: 0 none;
  height: 2vh;
  background: linear-gradient(135deg, #2d3090 25%, transparent 25%) -20px 0,
  linear-gradient(225deg, #2d3090 25%, transparent 25%) -20px 0;
  background-size: 2vh 2vh;
}

/* Moouse Scroll */
.scroll-downs {
  position: fixed;
  bottom: 7.5vh;
  right: 1.5vh;
  margin: auto;
  z-index: 2;
  width :34px;
  height: 55px;
}
.mousey {
  width: 5px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 5px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


#highlights{
  display: table;
  text-align: justify;
}
#aboutus{
  display: table;
  text-align: justify;
}
#overview{
  height: 100%;
  display: table;
  text-align: justify;
  width: 100%;
  left: 0;
  height: 100vh;
  position: absolute;
  top: 200vh;
  background: url("../images/alumni_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
#overview .inner {
  margin-top:2%;
  padding: 1%;
  text-align: justify-all;
  margin-left: 10%;
  margin-right: 10%;
 
  width: 80%;
  
  /*whatever width you want*/
}
/*scroll*/
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  bottom:18%;
  right:2%;
  z-index: 2;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #000;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.testimonials {

  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: block;
 -webkit-box-shadow: 0px 0px 34px -4px rgba(45,48,144,1);
-moz-box-shadow: 0px 0px 34px -4px rgba(45,48,144,1);
box-shadow: 0px 0px 34px -4px rgba(45,48,144,1);
  width: 100%;
  min-height: 250px;
}


.testimonials ul {
  list-style: none;
  padding: 0;
}

.testimonials li {
  display: inline-block;
  background-color: white;
  margin: 10px;
  color: rgba(0,0,0,0.9);
  background: #FAFBFD;
  width: calc((100% - 20px));
  height:300px;
  position: relative;
  transition: ease-in-out .3s;
}

.testimonials li img {
  height: 70px;
  width: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 15px #FAFBFD;
  background-color: #FAFBFD;
  transition: box-shadow 0.3s linear;
}

.testimonials li p {

  padding: 10px;
  text-align: justify;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
}
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
.testimonials li h1 {
  position: absolute;
  text-decoration: bold;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 17px;
}

.testimonials li:hover {
  background-color: #fff;
  color: #000;
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.testimonials li:hover img {
  box-shadow: 0px 0px 0px 2px #fff;
}

@media only screen and (max-width: 860px) {
  .testimonials li {
    width: 100%;
    margin: 0;
    display: block;
  }
  .testimonials li .window{
    display: none;
  }
  
  .testimonials li:first-child {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 870px) {
  .testimonials li  .mobile{
    display: none;
  }
}

.container{
  margin-right: 0!important;
  margin-left: 0!important;

}
/*! end @import */
/*! @import https://www.vaa.net/sites/all/themes/vaa_new/css/style.css?ppdjeg */
a:focus,a:hover{text-decoration:none;}
.vaa_box_package{height:100%;-webkit-box-shadow:0px 0px 75px 0px rgba(0,0,0,0.16);-moz-box-shadow:0px 0px 75px 0px rgba(0,0,0,0.16);box-shadow:0px 0px 75px 0px rgba(0,0,0,0.16);cursor:pointer;}
.vaa_box_view-1{display:table;width:100%;height:100%;}
.vaa_box_view-2{display:table-cell;width:100%;vertical-align:middle;}
.vaa_box_icon{text-align:center;}
.vaa_box_icon img{margin:0 auto;}
.vaa_box_content{color:#000;font-size:15px;line-height:27px;}
#homepage .vaa_box_content{
  text-align: center;
}
.highlights .vaa_box_package, .aboutus .vaa_box_package{
  height: 100%;padding-top:2vh;padding-left: 0.5vw;
}
#homepage .vaa_box_package{
  min-height: 32vh;
  max-height: 32vh;
  height: 32vh;
  overflow: hidden;
  border-radius: 5px;
}
.highlights .vaa_box_content, .aboutus .vaa_box_content{
  text-align: left;
}
.vaa_box_content h2{font-size:21px;line-height:48px;color:#2d3090;font-weight:bold;}
.vaa_box_content p{margin-bottom:30px;font-weight:normal;}
.vaa_box_content a{text-decoration:none;color:#224095;display:inline-block;font-weight:normal;}
.vaa-active{display:none;}

.vaa_box_package{border : 2px solid #fff;}
.vaa_box_package:hover .vaa_box_icon .vaa-non-active{display:none;}
.vaa_box_package:hover .vaa_box_icon .vaa-active{display:block;}

.broadband_packages-box:hover{background:url('https://www.vaa.net/sites/all/themes/vaa_new/images/Broadband-Packages.png');}
.vaa-local-channels-box:hover{background:url('https://www.vaa.net/sites/all/themes/vaa_new/images/vaa-Local-Channels.png');}


#homepage .vaa_box_package:hover{
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background: #fff;
}
.card:hover{
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}.vaa_box_package{
  background: #efefef;
}


