

  .fl-fl {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.5%;
    /* width: 190px; */
    width: 15%;
    border-radius:  25px 0 0 25px ;
    position: fixed;
    right: -12.5%;
     font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    padding-bottom: 1%;
    transition: all .25s ease;
  } 
  .fl-fla{
    color: #efefef;
  }
   .fl-fl i {
    font-size: 1vw;
    padding-top:6%;
    padding-left: 5%;
   }

 

  .fl-fl:hover {
    color: #fff;
    right: 0%;

    border-radius:  25px 0 0 25px ;
  }

  .fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
  }

  .float-fb {
    top: 50%;
    background-color:  #3b5998;
  }

  .float-tw {
    top: 42%;
    background-color: #1da1f3;
  }

  .float-gp {
    top: 34%;
    background-color: #eb4336;
  }

/*  @media only screen and (min-width: 1000px) and (max-width: 1400px){
    .custom-navbar ul li a{
      font-size: 1.5vh!important;

    }
    .custom-navbar{
      top: -1.5%!important;
    }
    .header{
      top: -2.3%!important;
    }
  }*/
/*  @media only screen and (min-width: 600px) and (max-width: 799px){*/
    /* .custom-navbar ul li a{
      font-size: 1vh!important;
    } */
  /*  .header{
      top: -1.5%!important;
    }
    .navbar-expand-sm  .navbar-nav .nav-link {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
}*/
    /* .custom-navbar{
      top: -2.3%!important;
    } */
 /* }*/
/*  @media only screen and (min-width: 800px) and (max-width: 1000px){
    .custom-navbar ul li a{
      font-size: 1vh!important;
    }
    .header{
      top: -2.3%!important;
    }
    .custom-navbar{
      top: -2.3%!important;
    }
  }*/

/*  @media only screen and (min-width: 100px) and (max-width: 300px){
    body {
      display: none!important;
    }
    .example-container {
      transform: translate(50%,1654%)!important;
    }


  }*/
  @media only screen and (min-width: 300px) and (max-width: 350px) and (max-height:500px) {
      .example-container {
      width: 70%;
       top:68%;
    left: 65%;  
    } 
    .atv-image {
        top: 86%;
        left: -20%;
    }
    .atv {
      width: 15%;
    }
    @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(150%,0%);}
   }
   .run{
     display : none;
    }
    
    .common {
     display : none;
    }   
    
    .tooltip {
     display : none;
    }
    .social {
     display : none;
    }
     .float-sm {
      display: none;
    }
    .chevron {
    bottom: 10%!important;
    right: 50%!important;
    width: 10px!important;
    height: 4px!important;
    }
    
    .mlogo {
      margin-bottom: 4%;
      height: 30vh!important;

    }

    .text{
      margin-top: 15%;
      padding: 3%!important;
    }
    .gtu {
      font-size: 7vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
     font-size: 3vw!important;
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}


#overview .inner{
   margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}

.preimg img{
  height: 80%;
  width: 40%;
}
#overview .inner h1{
  font-size: 6vw!important;
}
    /*.hostedby {
      font-size: 4vw;
    }*/
  }

  @media only screen and (min-width: 300px) and (max-width: 350px) and (min-height:550px) {
      .example-container {
      width: 70%;
       bottom:-8%;
    left: 65%;  
    } 
    .atv-image {
        top: 87.5%;
        left: -20%;
    }
    .atv {
      width: 15%;
    }
    @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(150%,0%);}
   }
   .run{
     display : none;
    }
    
    .common {
     display : none;
    }   
    
    .tooltip {
     display : none;
    }
    .social {
     display : none;
    }
     .float-sm {
      display: none;
    }
    .chevron {
    bottom: 10%!important;
    right: 50%!important;
    width: 10px!important;
    height: 4px!important;
    }
    
    .mlogo {
      margin-bottom: 4%;
      height: 30vh!important;

    }

    .text{
      margin-top: 15%;
      padding: 3%!important;
    }
    .gtu {
      font-size: 7vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
     font-size: 3vw!important;
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}


#overview .inner{
   margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}

.preimg img{
  height: 80%;
  width: 40%;
}
#overview .inner h1{
  font-size: 6vw!important;
}
    /*.hostedby {
      font-size: 4vw;
    }*/
  }
  
   @media only screen and (min-width: 351px) and (max-width: 364px) and (max-height:514px) {
      .example-container {
      width: 60%;
       top:69%!important;
    left: 65%;
    } 
    .atv-image {
        top: 85%;
        left: -20%;
    }
    .atv {
      width: 15%;
    }
    @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(150%,0%);}
   }
   .run{
     display : none;
    }
    .common {
     display : none;
    }   
   .tooltip {
     display : none;
    }
    .social {
     display : none;
    } 
     .float-sm {
      display: none;
    }
     .chevron {
    bottom: 10%!important;
    right: 47%!important;
    width: 15px!important;
    height: 4px!important;
    }
    .host {
      font-family: ariel;
    }
    .mlogo {
     margin-bottom: 10%;
      height: 30vh!important;
    }
    .gtu {
      font-size: 7.5vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: justify;
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
    font-size: 3vw!important;
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}
#overview .inner{
   margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}
#overview .inner h1{
  font-size: 6vw!important;
}
   }

 @media only screen and (min-width: 351px) and (max-width: 364px) and (min-height:515px) {
      .example-container {
      width: 60%;
       top:74%!important;
    left: 65%;
    } 
    .atv-image {
        top: 86%;
        left: -20%;
    }
    .atv {
      width: 15%;
    }
    @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(150%,0%);}
   }
   .run{
     display : none;
    }
    .common {
     display : none;
    }   
   .tooltip {
     display : none;
    }
    .social {
     display : none;
    } 
     .float-sm {
      display: none;
    }
     .chevron {
    bottom: 10%!important;
    right: 47%!important;
    width: 15px!important;
    height: 4px!important;
    }
    .host {
      font-family: ariel;
    }
    .mlogo {
     margin-bottom: 18%;
      height: 30vh!important;
    }
    .gtu {
      font-size: 7.5vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: justify;
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
    font-size: 3vw!important;
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}
#overview .inner{
   margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}
#overview .inner h1{
  font-size: 6vw!important;
}
   }

  @media only screen and (min-width: 365px) and (max-width: 400px){
     .example-container {
      width: 60%;
       top:76%!important;
    left: 65%;
    } 
    .atv-image {
        top: 87%;
        left: -20%;
    }
    .atv {
      width: 15%;
    }
    @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(150%,0%);}
   }
   .run{
     display : none;
    }
    .common {
     display : none;
    }   
   .tooltip {
     display : none;
    }
    .social {
     display : none;
    } 
     .float-sm {
      display: none;
    }
     .chevron {
    bottom: 10%!important;
    right: 47%!important;
    width: 15px!important;
    height: 4px!important;
    }
    .host {
      font-family: ariel;
    }
    .mlogo {
     margin-bottom: 18%;
      height: 30vh!important;
    }
    .gtu {
      font-size: 7.5vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: justify;
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
    font-size: 3vw!important;
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}
#overview .inner{
      margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}
#overview .inner h1{
  font-size: 6vw!important;
}
    /*.hostedby {
      font-size: 4vw;
    }*/
  }

  @media only screen and (min-width: 401px) and (max-width: 450px){

    .example-container {
      width: 60%;
       top:79%;
    left: 65%;
    }
     @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(200%,0%);}
   }
    .atv-image {
        top: 87.5%;
        left: -20%;
    }
     .atv {
      width: 15%;
    }
   .run{
     display : none;
    }
    
    .common {
     display : none;
    }
    .tooltip {
     display : none;
    }
    .social {
     display : none;
    }
     .float-sm {
      display: none;
    }
     .chevron {
    bottom: 10%!important;
    right: 45%!important;
    width: 15px!important;
    height: 4px!important;
    }
    
     .host {
      font-family: ariel;
    }
      .mlogo {
     margin-bottom: 18%;
      height: 30vh!important;
    }
    .gtu {
      font-size: 7vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: justify;
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
    font-size: 3vw!important;
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}
#overview .inner{
   margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}
#overview .inner h1{
  font-size: 6vw!important;
}

  }

  @media only screen and (min-width: 501px) and (max-width: 600px){
    .example-container {
      width: 60%;
       top:83.5%;
    left: 65%;
    }
     @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(200%,0%);}
   }
    .atv-image {
        top: 93%;
        left: -20%;
    }
     .atv {
      width: 15%;
    }
   .run{
     display : none;
    }
    
    .common {
     display : none;
    }
    .tooltip {
     display : none;
    }
    .social {
     display : none;
    }
     .float-sm {
      display: none;
    }
     .chevron {
    bottom: 10%!important;
    right: 45%!important;
    width: 15px!important;
    height: 4px!important;
    }

   .host {
      font-family: ariel;
    }
    .mlogo {
     margin-bottom: 18%;
      height: 30vh!important;
    }
    .gtu {
      font-size: 8vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: justify;
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
    
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}
#overview .inner{
   margin-left: 1%!important;
    margin-right: 1%!important;
    width: 96%!important;
    
    margin-top:5%!important;
}
#overview .inner p{
  font-size: 2.5vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}
#overview .inner h1{
  font-size: 6vw!important;
}
    /*.hostedby {
      font-size: 4vw;
    }*/
  }

  @media only screen and (min-width: 601px) and (max-width: 800px){
   .example-container {
      width: 60%;
       top:82%;
    left: 65%;
    }
    @keyframes fadein {
    0%{ transform: translate(-20%,0%); }
    100%{ transform: translate(200%,0%);}
   }
    .atv-image {
        top: 87%;
        left: -20%;
    }
     .atv {
      width: 12%;
    }
   .run{
     display : none;
    }
    
    .common {
     display : none;
    }
    .tooltip {
     display : none;
    }
    .social {
     display : none;
    }
    .float-sm {
      display: none;
    }
    .chevron {
     bottom: 10%!important;
     right: 45%!important;
    }
    .host {
      font-family: ariel;
    }
    .mlogo {
     margin-bottom: 18%;
      height: 30vh!important;
    }
    .gtu {
      font-size: 8vw!important;
      margin-top: 1%!important;
      text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
   
    }

.hostedby{
  font-family: arial;
  letter-spacing: 0.1vw;
  font-weight: bold;
  
  text-align: justify;
  text-align: center;
   text-shadow: 
    1px 0px 1px #000, 0px 1px 1px #000, 
    2px 1px 1px #000;
    color:#fff!important;

}
.host1{
    
}
.host{
    font-size: 6vw!important;
}
.host2{
    font-size: 4vw!important;
}
#overview .inner{
  margin-left:5%!important;
  margin-right: 5%!important;
  width: 90%!important;
  margin-top: -15%!important;
  
}
#overview .inner p{
  font-size: 2vw!important;
}
#overview .inner h5{
  font-size: 4vw!important;
}
#overview .inner h1{
  font-size: 6vw!important;
}
}
    /*.hostedby {
      font-size: 4vw;
    }*/

/*@media (min-width: 300px) and (max-width: 360px) and (min-height: 350px) and (max-height: 520px){*/
/*    .example-container {*/
/*        top:70%!important;  */
/*    }*/
/*     .atv-image {*/
/*        top: 85%;*/
/*        left: -20%;*/
/*    }*/
    
/*}*/


 /* @media only screen and (min-width: 801px) and (max-width: 900px){
    .example-container {
      transform: translate(50%,274%);
    }

    
  }


  @media only screen and (min-width: 901px) and (max-width: 1000px){
    .example-container {
      transform: translate(50%,274%);
    }

    
  }

  @media only screen and (min-width: 1001px) and (max-width: 1100px){
    .example-container {
      transform: translate(50%,274%);
    }

    
  }

  @media only screen and (min-width: 1101px) and (max-width: 1200px){
    .example-container {
      transform : translate(50%,274%);
    }

  }

  @media only screen and (min-width: 1201px) and (max-width: 1400px){
    .example-container {
      transform": translate(50%,274%);
    }

    
  }*/
@media only screen and (min-width: 801px) and (max-width: 900px){
     .custom-navbar ul li a{
       font-size: 1.3vh!important;
        padding-right: 0%;
     }
     .header{
       top: -2.3%!important;
     }
     .custom-navbar{
       top: -3.8%!important;
     }
     .mobile-view{
       display: none!important;
     }
     .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 2.2px;
        padding-left: 2.2px;
     }
     #vgeccopy {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 0.5%;
        left: 1%;
        font-size: 2vh;
        text-transform: uppercase;
       }

      #hostname {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 0.5%;
        right: 13%;
        font-size: 2vh;
        text-transform: uppercase;
      }
      #ourteam {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 2%;
        right: 1%;
        font-size: 2vh;
        text-transform: uppercase;
      }
   }


  @media only screen and (min-width: 901px) and (max-width: 1000px){
    /*.example-container {*/
    /*  transform: translate(50%,274%);*/
    /*}*/
    .header{
       top: -1%!important;
     }
    .custom-navbar{
      top: -1.8%!important;
    }
    .example-container{
      transform:translate(50%,294%);
    }

    .nav-link-custom{
      font-size: .5vh!important;
    }

    .copyright,#hostname,.btn-dark{
      font-size: 12px!important;
    }
    .mobile-view{
      display: none;
   }
    .mobile-footer{
      visibility: hidden;
    }
        .custom-navbar ul li a{
      font-size: 1.4vh!important;

    }
  }

  @media only screen and (min-width: 1001px) and (max-width: 1100px){
    .custom-navbar{
      top: -0.5%!important;

    }

    .custom-navbar ul li a{
      font-size: 1.5vh!important;

    }
    .mobile-view{
      display: none;
   }

    .header{
      top: -0.3%!important;
    }

         #vgeccopy {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 0.5%;
        left: 1%;
        font-size: 2vh;
        text-transform: uppercase;
       }

      #hostname {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 0.5%;
        right: 13%;
        font-size: 2vh;
        text-transform: uppercase;
      }


    #ourteam {
 
    bottom: 3%;
    right: 3%;

    font-size: 1.5vh;
    text-transform: uppercase;
}
  }

  @media only screen and (min-width: 1101px) and (max-width: 1200px){
    /*.example-container {*/
    /*  transform : translate(50%,274%);*/
    /*}*/
    .mobile-view{
      display: none;
   }

    .header{
      top: -0.3%!important;
    }
    .custom-navbar ul li a{
      font-size: 2vh!important;
      padding-right: 0%;
      padding-left: 0%;

    }
    .custom-navbar{
      top: -0.5%!important;

    }
         #vgeccopy {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 0.5%;
        left: 1%;
        font-size: 2vh;
        text-transform: uppercase;
       }

      #hostname {
        color: #fff;
        position: fixed;
        z-index: 3;
        bottom: 0.5%;
        right: 13%;
        font-size: 2vh;
        text-transform: uppercase;
      }
      #ourteam {
        font-size: 1.5vh;
      }

     .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 3px;
      padding-left: 3px;
    }
  }

  @media only screen and (min-width: 1201px) and (max-width: 1300px){
    /*.example-container {*/
    /*  transform": translate(50%,230%);*/
    /* }*/
    .mobile-view{
      display: none;
     }

    .header{
      top: -2.3%!important;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: .3rem;
      padding-left: .3rem;
    }
    .custom-navbar{
      top: -1%!important;

    }

    .custom-navbar ul li a{
      font-size: 1.6vh!important;
    }
             #vgeccopy {
        font-size: 2vh;
       }

      #hostname {
        right: 13%;
        font-size: 2vh;
      }
      #ourteam {
        font-size: 1.5vh;
      }
  }
    @media only screen and (min-width: 1301px) and (max-width: 1400px){
    /*.example-container {*/
    /*  transform": translate(50%,274%);*/
    /*}*/
    .mobile-view{
      display: none;
   }
   
    .header{
      top: -1.3%!important;
    }

    .custom-navbar{
      top: -.3%!important;
    }

   .custom-navbar ul li a{
      font-size: 2vh!important;

    }

  }

  @media only screen and (min-width: 1401px) and (max-width: 1900px){
    /* .example-container {*/
    /*  transform": translate(50%,274%);*/
    /*  top: 75%;*/
    /*}*/

    .custom-navbar ul li a{
      font-size: 2vh!important;
      top: 75%;

    }
    .custom-navbar{
      top: -1%!important;
    }
    .header{
      top: -4%!important;
    }
   
  }
  @media only screen and (min-width: 1901px) and (max-width: 2000px){
    /* .example-container {*/
    /*  transform": translate(50%,274%);*/
    /*  top: 75%;*/
    /*}*/

    .custom-navbar ul li a{
      font-size: 2vh!important;
      top: 75%;

    }
    .custom-navbar{
      top: -1%!important;
    }
    .header{
      top: -4%!important;
    }
   
  }